<h1>Countries</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/countries/new">Add a new country</a>
</p>
<% @countries.each do |country| %>
  <p>Country: <a href="/countries/<%= country.id %>"><%= country.name %></a></p>
Cities:
    <% for city in country.city %>
        <p><a href="/cities/<%= city.id %>"><%= city.name %></a></p>
    <% end %>
  <hr />

  <p>
  <a href=""></a></p>
<% end %>
